/** @format */

.flight {
  border: 1px solid black;
  background: #cc0052;
  border-radius: 5px;
  width: 500px;
  height: 250px;
  padding: 10px;
}
.search-button{
    
    width:100%;
    margin-left:20%;
}
.depart{
    font-size: 12px;
}

.testText{
  color: white;
}

.vid{
 
  margin-top: 27%;
  height: 50%;
  width:100%;
}
.h1{
  font-size: 30px;
}
.DropdownButton{
color:red;
}